body {
  font-size: 1.5em;
  color: black;
  background-color: lightcyan;
  margin: 6px;
  padding: 6px;
}

h1 {
  text-align: center;
}

.btn-dark {
  background-color: darkgrey;
  color: white;
}

.default-background {
  background-color: lightgrey;
  color: black;
  margin: 4px;
  padding: 4px;
}

.default-background button{
  background-color: azure;
  color: black;
  margin: 6px;
  padding: 6px;
}
